@import "./color.scss";
@import "./page/button-delivery.scss";
@import "./page/page.scss";
@import "./page/phone_number-list.scss";
@import "./page/social_icons-list.scss";
@import "./page/header/page-header.scss";
@import "./page/header/main-nav.scss";
@import "./page/main/promo.scss";
@import "./page/main/services.scss";
@import "./page/main/our-features.scss";
@import "./page/main/stock.scss";
@import "./page/main/masters.scss";
@import "./page/main/education/education.scss";
@import "./page/main/education/education-item.scss";
@import "./page/main/review.scss";
@import "./page/main/contacts.scss";
@import "./page/main/price.scss";
@import "./page/main/item-multi.scss";
@import "./page/main/question.scss";
@import "./page/footer.scss";
