.adress {
  max-width: 200px;
  list-style: none;

  @media (max-width: $width-mobile) {
    padding-top: 30px;
    order: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }

  @media (max-width: 380px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}

.adress__adress-item {
  display: block;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.adress__map-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  opacity: 0.5;
  transition: all 250ms ease-in-out;
}

.adress__map-icon--active {
  color: $fucsia;
  opacity: 1;
  transition: all 250ms ease-in-out;
}

.adress__map-input {
  position: absolute;
  top: 50%;
  right: 0;
  width: 30px;
  height: 30px;
  margin: 0;
  transform: translate(0, -50%);
  opacity: 0;
  cursor: pointer;
}

.adress__adress {
  display: block;
  margin: 0 0 20px;
  padding: 0 40px 0 0;
  width: 100%;
  font-size: 20px;
  line-height: 30px;
  box-sizing: border-box;
  cursor: pointer;

  @media (max-width: 1350px) {
    font-size: 17px;
    line-height: 24px;
  }

  @media (max-width: $width-tablet) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (max-width: $width-mobile) {
    margin: 0;
    font-size: 14px;
    line-height: 19px;
  }
}

.adress__adress--page4 {
  margin: 0;
}
