.adress {
  margin: 0;
  padding: 0;
  max-width: 200px;
  list-style: none;
}

.adress__adress-item {
  display: block;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.adress__map-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  opacity: 0.5;
}

.adress__map-icon--active {
  color: $fucsia;
  opacity: 1;
}

.adress__adress {
  margin: 0 0 20px;
  padding: 0;
  width: 100%;
  font-size: 20px;
  line-height: 25px;
}
