.button-delivery {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0px 23px;
  width: fit-content;
  height: 41px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $white;
  text-decoration: none;
  background-color: $purple;
  border-radius: 33px;
  box-sizing: border-box;

  @media (max-width: $width-tablet) {
    padding: 0px 18px;
    height: 32px;
    font-size: 15px;
    line-height: 18px;
  }

  @media (max-width: $width-mobile) {
    height: 31px;
    font-size: 12px;
    line-height: 15px;
  }
}

.button-delivery:hover,
.button-delivery:focus {
  background-color: $hover;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.button-delivery:active {
  opacity: 0.6;
  transition: all 150ms ease-in-out;
}
