$font-general: 'M PLUS Rounded 1c', sans-serif;

.page {
  height: 100%;
}

.page__body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  min-width: 320px;
  max-width: $width-desktop;
  height: 100%;
  margin: 0 auto;
  padding: 0 7.6%;
  align-content: start;
  font-family: $font-general;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: $dark-purple;
  background-color: $white;
  box-sizing: border-box;

  @media (max-width: $width-tablet) {
    padding: 0 47px;
  }

  @media (max-width: $width-mobile) {
    padding: 0;
  }
}

picture {
  line-height: 0;
}

.section-title {
  display: inline-block;
  margin: 0;
  padding: 0 0px 30px 0;
  font-size: 28px;
  line-height: 42px;
  z-index: 10;

  @media (max-width: 1200px) {
    font-size: 23px;
    line-height: 24px;
    padding: 0 0px 25px 0;
  }

  @media (max-width: $width-tablet) {
    font-size: 19px;
    line-height: 20px;
    padding: 0 0px 20px 0;
  }

  @media (max-width: $width-mobile) {
    font-size: 16px;
    line-height: 20px;
    padding: 0 0px 15px 0;
  }
}
