$font-general: 'M PLUS Rounded 1c', sans-serif;

.page {
  height: 100%;
}

.page__body {
  min-width: 320px;
  max-width: $width-desktop;
  height: 100%;
  margin: 0 auto;
  padding: 0 110px;
  align-content: start;
  font-family: $font-general;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: $dark-purple;
  background-color: $white;
  box-sizing: border-box;

  @media (max-width: $width-tablet) {
    padding: 0 47px;
  }

  @media (max-width: $width-mobile) {
    padding: 0 20px;
  }
}

picture {
  line-height: 0;
}
