.phone-numbers {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  list-style: none;

  @media (max-width: 1350px) {
    font-size: 17px;
    line-height: 24px;
  }

  @media (max-width: $width-tablet) {
    font-size: 16px;
    line-height: 18px;
  }

  @media (max-width: $width-mobile) {
    font-size: 14px;
    line-height: 19px;
  }
}

.phone-numbers__phone-numder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.phone-numbers__phone-numder--footer {
  margin: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.phone-numbers__phone-link {
  font-weight: bold;
  color: inherit;
  text-decoration: none;
  width: max-content;
  cursor: pointer;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 1px;
    font-weight: normal;
    background-color: $dark-purple;
    opacity: 0;
    transition: all 400ms ease;
  }
}

.phone-numbers__phone-link:hover,
.phone-numbers__phone-link:focus {
  &::before {
    opacity: 1;
    transition: all 400ms ease-in-out;
  }
}

.phone-numbers__phone-link:active{
  opacity: 0.6;
}

.phone-numbers__phone-name {
  margin: 0;
  padding: 0;
}

.phone-numbers__phone-name--footer {
  margin: 0 10px 0 0;
  padding: 0;
}

.phone-numbers__menu-mobile {
  font-size: 11px;
}

.button-tel__desktop {
  @media (max-width: $width-mobile) {
    display: none;
  }
}

.button-tel__mobile {
  display: none;

  @media (max-width: $width-mobile) {
    display: flex;
  }
}
