.education {
  width: 100%;
  padding: 0 0 90px 0;
  position: relative;
}



// .education__slider {

// }
// .education-slider__sliders {
//
// }

.education-slider {
overflow: hidden;
}

.education-slider__sliders {
  display: flex;
  // gap: 40px;
}

.education-slider__slider-controls {
  position: absolute;
  top: 50%;
  left: -20px;
  right: -20px;
  transform: translate(0, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 0;
  z-index: 1;
}

.education-slider__slider-button {
  padding: 0;
  width: 40px;
  height: 40px;
  background: $light-purple;
  border-radius: 50px;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
  transition: all 200ms ease;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 5px;
    height: 10px;
    background-image: url("../../../../img/icons/education/slider.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 5px 10px;
    transform: translate(-50%, -50%);
  }

  &::after {
    position: absolute;
    content: "";
    top: -445px;
    width:60px;
    height: 910px;
    z-index: -1;
  }
}

.education-slider__button-back {
  &::before {
    transform: translate(-50%,-50%) scale(-1)
  }

  &::after {
    left: 50%;
    background:
    linear-gradient(180deg, $white, rgba(0, 0, 0, 0) 3%),
    linear-gradient(0deg, $white, rgba(0, 0, 0, 0) 3%),
    linear-gradient(90deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0) 40%);
    z-index: -1;
  }
}

.education-slider__button-next {
  &::after {
    right: 50%;
    background:
    linear-gradient(180deg, $white, rgba(0, 0, 0, 0) 3%),
    linear-gradient(0deg, $white, rgba(0, 0, 0, 0) 3%),
    linear-gradient(-90deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0) 40%);
  }
}

.education-slider__button-back:hover,
.education-slider__button-back:focus {
  box-shadow: 0px 0px 10px rgba(65, 46, 46, 0.7);
  background: $white;
  transition: all 400ms ease;

  &::after {
    background:
    linear-gradient(180deg, $white, rgba(0, 0, 0, 0) 3%),
    linear-gradient(0deg, $white, rgba(0, 0, 0, 0) 3%),
    linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0) 30%);
  }
}

.education-slider__button-next:hover,
.education-slider__button-next:focus {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  background: $white;
  transition: all 200ms ease;

  &::after {
    background:
    linear-gradient(180deg, $white, rgba(0, 0, 0, 0) 3%),
    linear-gradient(0deg, $white, rgba(0, 0, 0, 0) 3%),
    linear-gradient(-90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0) 30%);
  }
}
