.education-item {
  margin: 0;
  margin-right: 40px;
  padding: 40px 40px 40px;
  min-width: 485px;
  background-color: $light-purple;
  border-radius: 15px;
  box-sizing: border-box;
  z-index: 0;
}

.education-item--top {
  padding-right: 30px;
}

.education-item:first-child {
  margin-right: 0;
}

.education-item__curse {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
}

.education-item__title {
  display: block;
  margin: 0;
  padding: 0 0 20px;
  font-size: 27px;
  line-height: 32px;
  font-weight: 700;
  width: 100%;
}

.education-item__points {
  display: flex;
  gap: 12px;
  padding-bottom: 49px;
}

.education-item__points--top {
  padding-bottom: 16px;
}

.education-item__point {
  display: block;
  margin: 0;
  padding: 1px 7px 1px 31px;
  font-size: 14px;
  line-height: 27px;
  border: 1px solid $dark-purple;
  border-radius: 5px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 8px;
    left: 10px;
    width: 12px;
    height: 12px;
    background-size: 12px 12px;
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

.point-time {
  &::before {
    background-image: url("../../../../img/icons/education/time.svg");
  }
}

.point-individual {
  &::before {
    background-image: url("../../../../img/icons/education/individual.svg");
  }
}

.point-group {
  padding-left: 34px;
  &::before {
    width: 15px;
    background-image: url("../../../../img/icons/education/group.svg");
    background-size: 15px 12px;
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

.education-item__for-master {
  margin: 0;
  padding: 0 0 17px;
  font-size: 17px;
  line-height: 26px;
  font-weight: bold;
}

.education-item__features-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 17px;
  margin: 0;
  padding: 0 0 54px;
  list-style: none;
}

.education-item__feature {
  margin: 0;
  padding: 0;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 11px;
    left: -17px;
    width: 10px;
    height: 7px;
    background-image: url("../../../../img/icons/education/tick.svg");
    background-size: 10px 7px;
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

.education-item__feature-text {
  margin: 0;
  padding: 0 20px 0 0;
  font-size: 17px;
  line-height: 26px;
}

.education-item__description-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  margin: 0 0 54px;
  padding: 10px 29px;
  list-style: none;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: $purple;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: $purple;
  }
}

.education-item__description-list--top {
  margin: 9px 10px 54px 0;
}

.education-item__description-list--page3 {
  margin: 44px 10px 54px 0;
}

.education-item__description-list--page3-margin {
  margin-top: 34px
}

.education-item__description {
  margin: 0;
  padding: 0;
}

.education-item__description-text {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 53px;
  font-weight: bold;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 17px;
    left: -29px;
    width: 19px;
    height: 19px;
    background-size: 19px 19px;
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

.education-theory {
  &::before {
    background-image: url("../../../../img/icons/education/theory.svg");
  }
}

.education-practice {
  &::before {
    background-image: url("../../../../img/icons/education/practice.svg");
  }
}

.education-model {
  &::before {
    background-image: url("../../../../img/icons/education/model.svg");
  }
}

.education-certificate {
  &::before {
    background-image: url("../../../../img/icons/education/certificate.svg");
  }
}

.education-wax {
  &::before {
    background-image: url("../../../../img/icons/education/wax.svg");
  }
}

.education-speed {
  &::before {
    background-image: url("../../../../img/icons/education/speed.svg");
  }
}

.education-painless {
  &::before {
    background-image: url("../../../../img/icons/education/painless.svg");
  }
}

.education-question {
  &::before {
    background-image: url("../../../../img/icons/education/question.svg");
  }
}

.education-price {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0;
  padding: 0 0 35px;
}

.education-price__new {
  margin: 0;
  padding: 0 12px 0 0;
  font-size: 28px;
  line-height: 32px;
  font-weight: bold;
}

.education-price__old {
  margin: 0;
  padding: 0 20px 0 0;
  font-size: 18px;
  line-height: 32px;
}

.education-price__sale-persent {
  margin: 0;
  padding: 0 0 5px;
  font-size: 18px;
  line-height: 32px;
  color: $white;
  z-index: 1;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 3px;
    left: -5px;
    width: 60px;
    height: 27px;
    background-color: $fucsia;
    border-radius: 5px;
    z-index: -1;
  }
}

.education-button {
  padding: 7px 23px;
}
