.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin: 0;
  padding: 0 0 55px;
  width: 100%;
  box-sizing: border-box;

  @media (max-width: $width-mobile) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    padding-bottom: 30px;
  }
}

.contacts--page4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.contacts__wrapper {
  flex-grow: 1;
  padding: 0 20px;

  @media (max-width: $width-mobile) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.contacts__wrapper--page4 {
  padding: 40px 0 0;

  @media (max-width: 1350px) {
    padding: 30px 0 0;

  }
}

.contacts__adress {
  margin: 0;
  padding: 0px;
}

.adress--page4 {
  padding: 47px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 40%;

  @media(max-width: $width-tablet){
    gap: 20%;
    padding-top: 20px;
  }
}

.adress__adress-item--page4 {
  display: block;
  width: 100%;
}

.contacts__phone-numbers {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  padding: 20px 0 45px;
  line-height: 30px;

  @media (max-width: 1350px) {
    font-size: 17px;
    line-height: 24px;
  }

  @media (max-width: $width-tablet) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (max-width: $width-mobile) {
    flex-direction: row;
    padding: 0 0 10px;
    font-size: 14px;
    line-height: 19px;
  }
}

.contacts__phone-numbers--page4 {
  padding: 0 0 30px;
  line-height: 35px;
}

.contacts__map-wrapper {
  width: 100%;
  height: 460px;
  border-radius: 15px;
  overflow: hidden;
  box-sizing: border-box;

  @media (max-width: $width-mobile) {
    width: 100%;
    order: 1;
  }
}

.contacts-map {
  display: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.contacts__map-wrapper {
  display: none;
}

.contacts__map-wrapper--active {
  display: block;
}

.contacts-map--active {
  display: block;
}
