.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 0 55px;
}

.contacts__adress {
  margin: 0;
  padding: 0 0 32px;
  font-size: 20px;
  line-height: 40px;
}

.contacts__phone-numbers {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  padding: 0 0 45px;
}


.contacts__map-wrapper {
  width: 905px;
  height: 460px;
  border-radius: 15px;
  overflow: hidden;
}

.contacts-map {
  display: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.contacts-map--active {
  display: block;
}
