.masters {
  // max-width: 0;
  padding: 0 0 50px 0;

  @media (max-width: $width-tablet) {
    padding: 0 0 60px 0;
  }

  @media (max-width: $width-mobile) {
    margin: 0 0 40px 0;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.masters__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;

  @media (max-width: $width-tablet) {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  @media (max-width: 600px) {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    width: 70%;
  }

  @media (max-width: 450px) {
    align-self: flex-start;
    width: 100%;
  }
}

.masters__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  position: relative;

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      right: -15px;
      width: 1px;
      height: 60%;
      background-color: $purple;
    }

    @media (max-width: $width-tablet) {
      &::after {
        right: -10px;
        height: 40%;
      }
    }

    @media (max-width: 600px) {
      &::after {
        right: -15%;
        bottom: -15px;
        left: -15%;
        width: 130%;
        height: 1px;
      }
    }
}

.masters__item:last-child {
    &::after {
      display: none;
    }
}

.masters__item:nth-child(2) {
  @media (max-width: $width-tablet) {
    &::after {
      display:none;
    }
  }

  @media (max-width: 600px) {
    &::after {
      display:block;
    }
  }
}

.masters__wrapper {
  width: 100%;
  height: 420px;

  @media (max-width: 1200px) {
    height: 360px;
  }

  @media (max-width: $width-tablet) {
    height: auto;
  }
}

.masters__container-image {
  text-align: center;
  width: 100%;
}

.masters__image {
  border-radius: 137.5px;
  width: 100%;
  height: auto;

  @media (max-width: $width-tablet) {
    margin-top: 20px;
    width: 230px;
  }

  @media (max-width: 600px) {
    margin: 0;
  }
}

.masters__title {
  margin: 0;
  padding: 37px 0 6px 3px;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;

  // @media (max-width: 1350px) {
  //   font-size: 16px;
  //   line-height: 24px;
  // }

  @media (max-width: 1200px) {
    font-size: 17px;
    line-height: 24px;
  }

  @media (max-width: $width-tablet) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (max-width: $width-mobile) {
    padding: 15px 0 6px 3px;
    font-size: 14px;
    line-height: 19px;
  }
}

.masters__description {
  margin: 0;
  padding: 0 0 4px 3px;
  font-size: 18px;
  line-height: 32px;
  color: $light-fucsia;

  // @media (max-width: 1350px) {
  //   font-size: 16px;
  //   line-height: 24px;
  // }

  @media (max-width: 1200px) {
    font-size: 15px;
    line-height: 22px;
  }

  @media (max-width: $width-tablet) {
    font-size: 14px;
    line-height: 22px;
  }

  @media (max-width: $width-mobile) {
    font-size: 12px;
    line-height: 19px;
  }
}

.masters__about {
  margin-top: auto;
  margin: 0;
  padding: 0 0 0 3px;
  font-size: 18px;
  line-height: 32px;
  // @media (max-width: 1350px) {
  //   font-size: 16px;
  //   line-height: 24px;
  // }

  @media (max-width: 1200px) {
    font-size: 15px;
    line-height: 24px;
  }

  @media (max-width: $width-tablet) {
    font-size: 14px;
    line-height: 22px;
  }

  @media (max-width: $width-mobile) {
    font-size: 12px;
    line-height: 19px;
  }
}

.masters__about-irina {
  @media (max-width: $width-tablet) {
    padding: 19px 0 0 3px;
  }
}
