.promo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 0 50px 0;
  // padding: 4% 60% 5% 6.5%;
  box-sizing: border-box;
  position: relative;

  @media (max-width: 650px) {
    margin: 0 0 70px 0;
  }
}

.promo-page1 {
  padding: 115px 580px 111px 79px;
}

.promo-page2 {
  padding: 81px 580px 81px 79px;
}

.promo-call {
  margin-bottom: 120px;
  padding: 49px 600px 60px 40px;
}

.promo__container-text {
  position: absolute;
  left: 5%;
  top: 10%;
  z-index: 10;

  @media(max-width: 650px) {
    top: 10%;
    left: 0;
    width: 100%;
    text-align: center;
  }
  @media (max-width: 550px) {
    top: 10%;
  }
}

.promo_br-mobile {
  @media(max-width: 650px) {
    display: none;
  }
}

.main-title {
  margin: 0;
  padding: 0 0 9%;
  font-size: 36px;
  line-height: 46px;
  font-weight: bold;

  @media (max-width: 1380px) {
    // padding: 0 0 35px;
    font-size: 34px;
    line-height: 44px;
  }
  @media (max-width: 1300px) {
    // padding: 0 0 30px;
    font-size: 32px;
    line-height: 40px;
  }
  @media (max-width: 1230px) {
    font-size: 30px;
    line-height: 35px;
  }
  @media (max-width: 1150px) {
    font-size: 27px;
    line-height: 35px;
  }
  @media (max-width: 1150px) {
    font-size: 26px;
    line-height: 30px;
  }
  @media (max-width: 950px) {
    font-size: 22px;
    line-height: 27px;
  }
  @media (max-width: 850px) {
    font-size: 19px;
    line-height: 25px;
  }
  @media (max-width: $width-mobile) {
    font-size: 18px;
    line-height: 24px;
  }
  @media (max-width: 700px) {
    font-size: 17px;
    line-height: 24px;
  }
  @media (max-width: 650px) {
    padding: 3% 0 4%;
    font-size: 25px;
    line-height: 26px;
  }
  @media (max-width: 550px) {
    padding: 0 0 4%;
    font-size: 22px;
    line-height: 25px;
  }
  @media (max-width: 400px) {
    padding: 2% 0 6%;
    font-size: 19px;
    line-height: 20px;
  }
}

// .promo_city-mobile {
//   @media(max-width: 650px) {
//     font-size: 13px;
//     line-height: 19px;
//   }
// }

.main-description {
  margin: 0;
  padding: 0 0 10% 0;
  font-size: 18px;
  line-height: 32px;

  @media (max-width: 1380px) {
    padding: 0 0 8%;
    font-size: 17px;
    line-height: 27px;
  }
  @media (max-width: 1300px) {
    font-size: 16px;
    line-height: 26px;
  }
  @media (max-width: 1210px) {
    font-size: 15px;
    line-height: 25px;
  }
  @media (max-width: 1150px) {
    font-size: 13px;
    line-height: 20px;
  }
  @media (max-width: 950px) {
    font-size: 12px;
    line-height: 19px;
  }
  @media (max-width: 860px) {
    font-size: 11px;
    line-height: 18px;
  }
  @media (max-width: 700px) {
    font-size: 11px;
    line-height: 16px;
  }
  @media (max-width: 600px) {
    font-size: 11px;
    line-height: 15px;
  }
  @media (max-width: 550px) {
    padding: 0 0 4% 0;
    font-size: 11px;
    line-height: 15px;
  }
}

.main-description--call {
  padding: 0 30px 32px 0;
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
}

.promo__container-image {
  z-index: -10;

  @media (max-width: 650px) {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    min-height: 500px;
  }

  @media (max-width: 550px) {
    min-height: 430px;
  }

  @media (max-width: 400px) {
    min-height: 370px;
  }
}

.promo__image-1 {
  @media(max-width: 650px) {
    display: none;
  }
}
.promo__image-mobile {
  display: none;

  @media(max-width: 650px) {
    display: block;
  }
}

.promo__image {
  border-radius: 15px;
  width: 100%;
  height: auto;

  @media (max-width: $width-mobile) {
    border-radius: 0px;
  }

  @media (max-width: 650px) {
    position: absolute;
    width: 100vw;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    object-fit: cover;
    box-sizing: border-box;
    z-index: -10;
  }

  @media (max-width: 500px) {
    top:40%;
  }

  @media (max-width: 400px) {
    top:45%;
  }
}

.promo__button {
  position: absolute;
  left: 5%;
  bottom: 13%;
  // @media (max-width: 1380px) {
  //   padding: 0 0 35px;
  //   font-size: 17px;
  //   line-height: 27px;
  // }
  // @media (max-width: 1300px) {
  //   font-size: 16px;
  //   line-height: 26px;
  // }
  // @media (max-width: 1210px) {
  //   font-size: 15px;
  //   line-height: 25px;
  // }
  @media (max-width: 1150px) {
    font-size: 16px;
    line-height: 20px;
  }
  @media (max-width: 1000px) {
    font-size: 15px;
    line-height: 19px;
  }
  @media (max-width: 800px) {
    font-size: 13px;
    line-height: 17px;
  }
  @media (max-width: $width-mobile) {
    font-size: 12px;
    line-height: 15px;
  }
  @media (max-width: 650px) {
    font-size: 11px;
    line-height: 12px;
  }
  @media (max-width: 650px) {
    position: absolute;
    bottom: -15px;
    left: 50%;
    padding: 10px;
    width: 100%;
    transform: translate(-50%, 0);
    font-size: 11px;
    line-height: 11px;
    border-radius: 10px;
    text-align: center;
  }
}
