.promo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 0 50px 0;
  padding: 4% 60% 5% 6.5%;
  box-sizing: border-box;
  position: relative;


  @media (max-width: 1160px) {
    padding-top: 5.7%;
  }
  @media (max-width: 950px) {
    padding: 6.5% 60% 6% 0;
  }
  @media (max-width: $width-mobile) {
    padding: 5% 60% 6% 0;
  }
}

.promo-page1 {
  padding: 115px 580px 111px 79px;
}

.promo-page2 {
  padding: 81px 580px 81px 79px;
}

.promo-call {
  margin-bottom: 120px;
  padding: 49px 600px 60px 40px;
}

.main-title {
  margin: 0;
  padding: 0 0 9%;
  font-size: 36px;
  line-height: 46px;
  font-weight: bold;

  @media (max-width: 1380px) {
    // padding: 0 0 35px;
    font-size: 34px;
    line-height: 44px;
  }
  @media (max-width: 1300px) {
    // padding: 0 0 30px;
    font-size: 32px;
    line-height: 40px;
  }
  @media (max-width: 1230px) {
    font-size: 30px;
    line-height: 35px;
  }
  @media (max-width: 1150px) {
    font-size: 27px;
    line-height: 35px;
  }
  @media (max-width: 1150px) {
    font-size: 26px;
    line-height: 30px;
  }
  @media (max-width: 950px) {
    font-size: 22px;
    line-height: 27px;
  }
  @media (max-width: 850px) {
    font-size: 19px;
    line-height: 25px;
  }
  @media (max-width: $width-mobile) {
    font-size: 18px;
    line-height: 24px;
  }
  @media (max-width: 700px) {
    font-size: 17px;
    line-height: 24px;
  }
  @media (max-width: 650px) {
    font-size: 16px;
    line-height: 20px;
  }
  @media (max-width: 600px) {
    font-size: 15px;
    line-height: 20px;
  }
}

.main-description {
  margin: 0;
  padding: 0 0 10% 0;
  font-size: 18px;
  line-height: 32px;

  @media (max-width: 1380px) {
    padding: 0 0 8%;
    font-size: 17px;
    line-height: 27px;
  }
  @media (max-width: 1300px) {
    font-size: 16px;
    line-height: 26px;
  }
  @media (max-width: 1210px) {
    font-size: 15px;
    line-height: 25px;
  }
  @media (max-width: 1150px) {
    font-size: 13px;
    line-height: 20px;
  }
  @media (max-width: 950px) {
    font-size: 12px;
    line-height: 19px;
  }
  @media (max-width: 860px) {
    font-size: 11px;
    line-height: 18px;
  }
  @media (max-width: 700px) {
    font-size: 10px;
    line-height: 16px;
  }
  @media (max-width: 600px) {
    font-size: 9px;
    line-height: 15px;
  }
}

.main-description--call {
  padding: 0 30px 32px 0;
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
}

.promo__container-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  @media (max-width: 950px) {
    left: -7%;
    right: -7%;
  }
  @media (max-width: $width-mobile) {
    left: -20px;
    right: -20px;
  }
}

.promo__image {
  border-radius: 15px;
  width: 100%;
  height: auto;

  @media (max-width: 950px) {
    border-radius: 0;
  }
}

.promo__button {
  margin-top: 3%;
  // @media (max-width: 1380px) {
  //   padding: 0 0 35px;
  //   font-size: 17px;
  //   line-height: 27px;
  // }
  // @media (max-width: 1300px) {
  //   font-size: 16px;
  //   line-height: 26px;
  // }
  // @media (max-width: 1210px) {
  //   font-size: 15px;
  //   line-height: 25px;
  // }
  @media (max-width: 1150px) {
    margin-top: 3%;
    font-size: 16px;
    line-height: 20px;
  }
  @media (max-width: 1000px) {
    font-size: 15px;
    line-height: 19px;
  }
  @media (max-width: 950px) {
    margin-top: 6%;
  }
  @media (max-width: 800px) {
    font-size: 13px;
    line-height: 17px;
  }
  @media (max-width: $width-mobile) {
    margin: 0;
    font-size: 12px;
    line-height: 15px;
  }
  @media (max-width: 650px) {
    font-size: 11px;
    line-height: 12px;
  }
  @media (max-width: 500px) {
    font-size: 9px;
    line-height: 10px;
  }
}
