.review {
  @media (max-width: $width-mobile) {
    padding: 0 20px;
  }
}

.review-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding-bottom: 40px;

  @media (max-width: $width-tablet) {
    gap: 30px;
  }

  @media (max-width: $width-mobile) {
    padding-bottom: 0;
    margin: 0 0 20px 0;
    gap: 20px;
  }

  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.review-wrapper--page4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 65px;
  padding-bottom: 55px;
}

.review-item {
  margin: 0;
  padding: 30px;
  border: 1px solid $purple;
  border-radius: 15px;
  position: relative;

  @media (max-width: $width-mobile) {
    padding: 20px;
  }
}

.review-item--page4 {
  padding: 30px 26px;
  width: 590px;
  box-sizing: border-box;
}

.review-item__client-name {
  margin: 0;
  padding: 23px 0 44px 83px;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;

  @media (max-width: 1200px) {
    font-size: 17px;
    line-height: 24px;
  }

  @media (max-width: $width-tablet) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (max-width: $width-mobile) {
    padding: 19px 0 34px 70px;
    font-size: 14px;
    line-height: 19px;
  }
}

.review-item__photo {
  position: absolute;
  width: 65px;
  height: 65px;
  top: 30px;
  left: 30px;
  border-radius: 50%;

  @media (max-width: $width-mobile) {
    width: 55px;
    height: 55px;
    top: 20px;
    left: 20px;
  }
}

.review-item__text {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 30px;

  @media (max-width: 1200px) {
    font-size: 15px;
    line-height: 22px;
  }

  @media (max-width: $width-tablet) {
    font-size: 14px;
    line-height: 22px;
  }

  @media (max-width: $width-mobile) {
    font-size: 12px;
    line-height: 19px;
  }
}

.review-item__link {
  font-weight: bold;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  text-decoration: none;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 1px;
    font-weight: normal;
    background-color: $dark-purple;
    opacity: 0;
    transition: all 400ms ease;
  }

  &::after {
    position: absolute;
    content: '';
    top: -15px;
    left: -15px;
    bottom: -15px;
    right: -15px;
  }
}

.review-item__link:hover,
.review-item__link:focus {
  &::before {
    opacity: 1;
    transition: all 400ms ease-in-out;
  }
}

.review-item__link:active{
  opacity: 0.6;
}

.review__wrapper-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0 0 100px;
  width: 100%;

  @media (max-width: $width-tablet) {
    padding: 0 0 80px;
  }

  @media (max-width: $width-mobile) {
    padding: 0 0 60px;
  }
}
