.services {
  margin: 0 0 88px 0;

  @media (max-width: $width-tablet) {
    margin: 0 0 60px 0;
  }

  @media (max-width: $width-mobile) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 40px 0;
    padding: 0 20px;
  }
}

.services__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;

  @media (max-width: $width-mobile) {
    width: 60%;
    align-self: center;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }

  @media (max-width: 570px) {
    width: 85%;
  }

  @media (max-width: 500px) {
    width: 90%;
  }

  @media (max-width: 450px) {
    width: 100%;
    gap: 15px;
  }
}

.services-item {
  display: block;
  position: relative;
}

.services-item__container-image {
  width: 100%;
  padding: 0 0 155px 0;

  @media (max-width: 1200px) {
    padding: 0 0 120px 0;
  }

  @media (max-width: 1147px) {
    padding: 0 0 155px 0;
  }

  @media (max-width: $width-tablet) {
    padding: 0 0 122px 0;
  }

  @media (max-width: 900px) {
    padding: 0 0 148px 0;
  }

  @media (max-width: $width-mobile) {
    padding: 0 0 78px 0;
  }

  @media (max-width: 500px) {
    padding: 0 0 80px 0;
  }
}
.services-item__container-image picture {
  height: 0;
}

.services-item__image {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.services-item__container-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 23px 15px 31px 30px;
  background-color: $light-purple;
  border-radius: 15px;
  box-sizing: border-box;

  @media (max-width: 1380px) {
    padding: 23px 100px 31px 30px;
  }


  @media (max-width: 1200px) {
    padding: 20px 20px 23px 20px;
  }

  @media (max-width: 1147px) {
    padding: 20px 60px 23px 20px;
  }

  @media (max-width: 1050px) {
    padding: 20px 20px 23px 20px;
  }

  @media (max-width: 900px) {
    padding: 20px 50px 23px 20px;
  }

  @media (max-width: 850px) {
    padding: 20px 25px 23px 20px;
  }

  @media (max-width: $width-mobile) {
    padding: 13px 20px 15px 17px;
  }

  @media (max-width: 500px) {
    padding: 13px 30px 15px 20px;
  }
}

.services-item__title {
  margin: 0;
  padding: 0 0px 10px 0;
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;

  @media (max-width: 1200px) {
    font-size: 17px;
    line-height: 23px;
  }

  @media (max-width: $width-tablet) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (max-width: $width-mobile) {
    padding-bottom: 6px;
    font-size: 14px;
    line-height: 17px;
  }
}

.services-item__description {
  margin: 0;
  padding: 0 0px 23px 0;
  font-size: 18px;
  line-height: 30px;
  opacity: 0.7;

  @media (max-width: 1350px) {
    font-size: 16px;
    line-height: 24px;
  }


  @media (max-width: 1200px) {
    font-size: 15px;
    line-height: 24px;
  }

  @media (max-width: $width-tablet) {
    font-size: 12px;
    line-height: 20px;
  }

  @media (max-width: $width-mobile) {
    padding-bottom: 13px;
    font-size: 10px;
    line-height: 14px;
  }
}

// .services-item__button {
//   @media (max-width: 500px) {
//    width: 100%;
//   }
// }
