.stock {
  margin: 0;
  padding: 0 0 88px 0;

  @media (max-width: $width-tablet) {
    margin: 0;
    padding: 0 0 60px 0;
  }

  @media (max-width: $width-mobile) {
    margin: 0 0 40px 0;
    padding: 0 20px;
  }
}

.stock__items-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;

  @media (max-width: 1150px) {
    gap: 25px;
  }

  @media (max-width: $width-tablet) {
    gap: 15px;
  }

  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }

  @media (max-width: $width-mobile) {
    align-items: center;
  }

  @media (max-width: 450px) {
    gap: 15px;
  }
}

.stock__item {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  box-sizing: border-box;

  @media (max-width: 900px) {
    width: 70%;
  }

  @media (max-width: 570px) {
    width: 70%;
  }

  @media (max-width: 500px) {
    width: 80%;
  }

  @media (max-width: 450px) {
    width: 100%;
  }
}

.stock__container-image {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;

  &::after {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0.4) 65%);
    border-radius: 15px;
  }

  @media (max-width: 900px) {
    min-height: 250px;
    border-radius: 15px;

    &::after {
      bottom: 0px;
    }
  }

  @media (max-width: $width-mobile) {
    min-height: 300px;
    border-radius: 15px;
  }

}

.stock__image-1{
  @media (max-width: 900px) {
    display: none;
  }
}

.stock__image-tablet {
  display: none;

  @media (max-width: 900px) {
    display: block;
  }

  @media (max-width: $width-mobile) {
    display: none;
  }
}
.stock__image-mobile {
  display: none;

  @media (max-width: $width-mobile) {
    display: block;
  }
}

.stock__image {
  width: 100%;
  height: auto;
  border-radius: 15px;

  @media (max-width: 900px) {
    position: absolute;
    width: auto;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    object-fit: cover;
    box-sizing: border-box;
    z-index: -10;
  }
}

.stock__image-lazer-mobile {
  @media (max-width: 355px) {
    left: 83%;
  }
}

.stock__wrapper-description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 20px 33px 30px;
  color: $white;
  box-sizing: border-box;

  @media (max-width: 1200px) {
    padding: 0 15px 25px 20px;
  }

  @media (max-width: 900px) {
    padding: 0 15px 15px 20px;
  }

  @media (max-width: $width-mobile) {
    padding: 0 15px 15px 15px;
  }
}

.stock__title {
  margin: 0;
  padding: 0;
  font-size: 28px;
  line-height: 48px;

  @media (max-width: 1300px) {
    font-size: 23px;
    line-height: 35px;
  }

  @media (max-width: 1200px) {
    font-size: 21px;
    line-height: 32px;
  }

  @media (max-width: $width-tablet) {
    font-size: 19px;
    line-height: 31px;
  }

  @media (max-width: $width-mobile) {
    font-size: 16px;
    line-height: 24px;
  }
}

.stock__description {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 42px;

  @media (max-width: 1350px) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (max-width: 1200px) {
    font-size: 15px;
    line-height: 24px;
  }

  @media (max-width: $width-tablet) {
    font-size: 12px;
    line-height: 20px;
  }

  @media (max-width: $width-mobile) {
    font-size: 10px;
    line-height: 14px;
  }
}

.stock-button {
  margin-top: 16px;

  @media (max-width: $width-tablet) {
    margin-top: 13px;
  }
}

.stock__sale {
  display: inline-block;
  position: relative;
  z-index: 1;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: -3px;
    width: 91px;
    height: 47px;
    background-color: $fucsia;
    border-radius: 5px;
    z-index: -1;

    @media (max-width: 1300px) {
      width: 75px;
      height: 37px;
    }

    @media (max-width: 1200px) {
      width: 70px;
      height: 32px;
    }

    @media (max-width: $width-tablet) {
      width: 63px;
      height: 29px;
    }

    @media (max-width: $width-mobile) {
      width: 53px;
      height: 24px;
    }
  }
}

.stock__sale--30 {
  &::after {
    transform: rotate(5.56deg)
  }
}

.stock__sale--friend {
  &::after {
    transform: rotate(-2.74deg);
  }
}

.stock__sale--new990 {
  &::after {
    width: 81px;
    transform: rotate(-5.57deg);

    @media (max-width: 1300px) {
      width: 65px;
    }

    @media (max-width: 1200px) {
      width: 60px;
    }

    @media (max-width: $width-tablet) {
      width: 55px;
    }

    @media (max-width: $width-mobile) {
      width: 46px;
    }
  }
}
