.page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 10px 0;

  @media (max-width: $width-tablet) {
    gap: 20px;
    padding: 7px 0;
  }

  @media (max-width: $width-mobile) {
    justify-content: flex-start;
    padding: 25px 0;
    gap: 0;
    // height: 100vh;
  }
}

.page-header__logo-wrapper {
  margin: 0;
  padding: 11px 0 13px;
  width: max-content;

  @media (max-width: $width-tablet) {
    padding: 11px 0 13px;
  }

  @media (max-width: $width-mobile) {
    padding: 0 30px;
  }
}

.page-header__logo-title {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: max-content;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: $dark-purple;

  @media (max-width: $width-tablet) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (max-width: $width-mobile) {
    font-size: 15px;
    line-height: 20px;
  }
}

.page-header__logo-link {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: -15px;
    right: -15px;
    bottom: -15px;
    left: -15px;
  }

  @media (max-width: $width-tablet) {
    &::before {
      top: -12px;
      right: -12px;
      bottom: -12px;
      left: -12px;
    }
  }

  @media (max-width: $width-mobile) {
    &::before {
      top: -10px;
      right: -10px;
      bottom: -10px;
      left: -10px;
    }
  }
}

.page-header__button-container {
  margin: 0;
  padding: 0;
}

.page-header__button {
  @media (max-width: $width-mobile) {
    width: 20px;
    height: 20px;
    font-size: 0;
    line-height: 0;
    padding: 0;
    margin-left: auto;
    background-color: transparent;
    background-image: url("../../../img/phone-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    border-radius: 0;

    &:hover,
    &:focus {
      background-color: transparent;
    }
  }
}
